{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}

  <!-- Full Body Container -->
  <div id="container">


{% include 'header.html' %}


{% include 'homepage_slider.html' %}

{% include 'service_home_section.html' %}


{% include 'purchase_sectionhome.html' %}


{% include 'portfolio.html' %}


{% include 'testimonial.html' %}

{% include 'teammember.html' %}

{% include 'homeparallax.html' %}


{% include 'pricing.html' %}
{% include 'clientpartner.html' %}


  </div>
  <!-- End Full Body Container -->






 

{% endblock %}